.pageTitle {
  margin: 0;
  text-align: center;

  @include pc {
    font-size: 4.0rem;
    height: 6.0rem;
  }

  @include tb {
    font-size: 3.5rem;
    height: 5.0rem;
  }

  @include sp {
    font-size: 3.0rem;
    height: 4.0rem;
  }
}
