<!DOCTYPE html>
html(lang="ja-JP")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="js/smile-script.js")
    link(rel="stylesheet", href="css/style.css")
    title ‪♪(๑ᴖ◡ᴖ๑)♪
  body
    .wrapper
      main
        article.main-article
          h1.page-title ‪♪(๑ᴖ◡ᴖ๑)♪
          textarea.input-textarea#Input-textarea(placeholder="ここに文字を入れてね‪♪(๑ᴖ◡ᴖ๑)♪")
          button.conversion-button#Conversion-button(type="button") ‪♪(๑ᴖ◡ᴖ๑)♪変換‪♪(๑ᴖ◡ᴖ๑)‪♪
          textarea.output-textarea#Output-textarea(placeholder="ここに出力されるよ‪♪(๑ᴖ◡ᴖ๑)♪" readonly)
          .button-container
            button.copy-to-clipboard-button#Copy-to-clipboard-button(type="button") ‪♪(๑ᴖ◡ᴖ๑)♪コピー‪♪(๑ᴖ◡ᴖ๑)♪
            a.tweet-button#Tweet-button(target="_blank" href="https://twitter.com/intent/tweet?text=&url=https://oka.technology/smile-project/smile.html") ‪♪(๑ᴖ◡ᴖ๑)♪ツイート♪(๑ᴖ◡ᴖ๑)♪
      footer.footer
        .footer__contents
          dl.author
            dt 作った人
            dd
              a.author__twitter-link(href="https://twitter.com/oka_technology") おか
          p.copyright
            small &copy; 2019 OKA TECHNOLOGY
