<!DOCTYPE html>
html(lang="ja-JP")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    title ‪♪(๑ᴖ◡ᴖ๑)♪
  body
    .wrapper
      article
        h1 ‪♪(๑ᴖ◡ᴖ๑)♪
        textarea.input-text
        button.conversion-button#Add-face-button(type="button") ‪♪(๑ᴖ◡ᴖ๑)♪変換‪♪(๑ᴖ◡ᴖ๑)‪♪
        textarea.output-text
        button.tweet-button(type="button") ‪♪(๑ᴖ◡ᴖ๑)♪ツイートする‪♪(๑ᴖ◡ᴖ๑)♪
